@import "tailwindcss";


.font-inconsolata {
  font-family: var(--font-inconsolata);
}

.bg-double {
  background-image: url('/assets/images/background-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



